<h1>
  <%= t "users.edit.update_password" %>
</h1>
<p><%= t "users.edit.mail_text" %></p>
<%= link_to t("users.edit.update_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p>
  <%= t "users.edit.link_expired" %>
</p>
